<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>QDB - Quotes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
</head>

<body>
<div class="panel panel-default"  th:fragment="quote">
    <div class="panel-heading">
        <a th:if="!${singleChannel}" th:href="|/quotes/${quote.channel}/${quote.publicId()}|" th:text="|#${quote.publicId()}|" href="/quotes/id">#id</a>
        <a th:if="${singleChannel}" th:href="|/quotes/${quote.publicId()}|" th:text="|#${quote.publicId()}|" href="/quotes/id">#id</a>
    </div>
    <div class="panel-body">
        <pre th:text="${quote.quote}">Quote text</pre>
    </div>
    <div class="panel-footer" th:if="${!quote.approved or !singleChannel}">
        <span th:if="${quote.network} != null" th:text="${quote.network.name}+' - '">freenode - </span><span th:text="|#${quote.channel}|">#ascension.run</span>
        <div class="pull-right quote-admin" sec:authorize="hasRole('ADMIN')" th:if="${!quote.approved}">
            <a name="approve"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
            <a name="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
<div class="panel panel-default"  th:fragment="quote-default">
    <div class="panel-heading">
        <a th:href="|//${quote.network.urlName}/quotes/${quote.channel}/${quote.publicId()}|" th:text="|#${quote.id}|" href="/quotes/0/id" >#id</a>
    </div>
    <div class="panel-body">
        <pre th:text="${quote.quote}">Quote text</pre>
    </div>
    <div class="panel-footer">
        <div class="pull-right quote-admin" sec:authorize="hasRole('ADMIN')" th:if="${!quote.approved}">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <span th:if="${quote.network} != null" th:text="${quote.network.name}+' - '">freenode - </span><span th:text="|#${quote.channel}|">#ascension.run</span>
    </div>
</div>
</body>

</html>